.my-page-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .user-info-section, .ideal-type-section {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  