div {
  display: flex;
  flex-direction: column;     /* 세로 배치*/
  align-items: center;
  padding: 20px;
}

body {
  overflow-y: auto;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px; /* 버튼 주위의 간격을 조절합니다. */
}

button:hover {
  background-color: #e0e0e0;
}

/* 주황색의 텍스트 색상 변경 */
.highlighted {
  color: #FF7F00;
}

/* 이전, 다음 버튼의 스타일링 */
button.nav-btn {
  margin-top: 20px;
  background-color: #FF7F00;
  color: white;
}

button.nav-btn:hover {
  background-color: #e06a00;
}

/* 이전, 다음 버튼의 배치를 위한 스타일링 */
.nav-buttons {
  flex-direction: row;    /* 가로배치 */
  display: flex;
  justify-content: space-between;
  width: 80%; /* 원하는 너비에 따라 조절하세요. */
}
