/* components/Footer.css */
.footer {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #f5f5f5;
    border-top: 1px solid #e0e0e0;
    bottom: 0;
    position: fixed;
    width: 100%;    
    text-align: center;
    color: #fff;
    background-color: #333;
  }
  