.header-container {
  width: 100%;
  padding: 15px 0;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container .title {
  margin-left: 20px;
  cursor: pointer;
}

.header-container .login-btn {
  margin-right: 20px;
  background-color: #ff4500;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.header-container .logout-btn {
  margin-right: 20px;
  background-color: #ff4500;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
